{%  extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

	<br>

<div class="row">
	
	<div class="col-md">
		<div class="card card-body">
			<h5>Input Relation Multiple</h5>
			<hr>
			{% if messages %}
				{% for message in messages %}
					<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
				{% endfor %}
			{% endif %}
			<form method="post" enctype="multipart/form-data" action="addmultiplerelation/">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Input</button>
                </div>
            </form>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total File</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_file}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<form method="get">
				{{ myFilterFile.form }}
				<br>
		    	<button class="btn btn-primary" type="submit">Search</button>
		  	</form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>File Name</th>
					<th>Created By</th>
					<th>Created At</th>
                    <th>Status</th>
                    <th>File</th>
					<th>Generate</th>
				</tr>

				{% for data in objectmultiple %}

				<tr>
					<td>{{data.filename}}</td>
					<td>{{data.createdby}}</td>
                    <td>{{data.createdat}}</td>
					<td>{{data.status}}</td>
                    <td>
                        <a href="{{ data.excel.url }}" class="btn btn-primary btn-sm" target="_blank">
                            Download Excel
                        </a>
                    </td>
					<td><a class="btn btn-sm btn-info" href="{% url 'generate_mutiplerelation' data.id %}">Generate</a></td>

					{% comment %} <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td> {% endcomment %}
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}