{%  extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

	<br>

<div class="row">
	
	<div class="col-md">
		<div class="card card-body">
			<h5>Input Relation Manual</h5>
			<hr>
			{% if messages %}
				{% for message in messages %}
					<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
				{% endfor %}
			{% endif %}
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'addoneobject' %}">One Object</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'objectsprocessrelation' %}">Connect Objecthaskey</a>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Object</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_object}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<form method="get">
				{{ myFilterObject.form }}
				<br>
		    	<button class="btn btn-primary" type="submit">Search</button>
		  	</form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Objecthashkey</th>
                    <th>Object Name</th>
					<th>Object Description</th>
					<th>Created By</th>
                    <th>Created At</th>
				</tr>

				{% for data in objects %}

				<tr>
					<td>{{data.objecthashkey}}</td>
                    <td>{{data.objectname}}</td>
                    <td>{{data.objectdesc}}</td>
					<td>{{data.sourcesystemcreatedby}}</td>
                    <td>{{data.sourcesystemcreatedtime}}</td>

					{% comment %} <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td> {% endcomment %}
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}