{%  extends 'main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            {% for message in messages %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
            {% endfor %}
			<form action="" method="POST">
				{% csrf_token %}
				<br>
				<input class="btn btn-primary" type="submit" name="Generate" value="Generate">
                <input class="btn btn-primary" type="submit" name="ExitLog" value="ExitLog">
			</form>

		</div>
	</div>
</div>


{% endblock %}