{%  extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

	<br>

<div class="row">
	
	<div class="col-md">
		<div class="card card-body">
			<h5>Input Query</h5>
			<hr>
			{% if messages %}
				{% for message in messages %}
					<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
				{% endfor %}
			{% endif %}
			<div class="container">
				{% crispy form %}
			</div>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Query</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_query}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<form method="get">
				{{ myFilterQuery.form }}
				<br>
		    	<button class="btn btn-primary" type="submit">Search</button>
		  	</form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Query Name</th>
					<th>Query Description</th>
                    <th>Query Path</th>
                    <th>Created By</th>
					<th>Created At</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for data in query %}

				<tr>
					<td>{{data.name}}</td>
                    <td>{{data.desc}}</td>
                    <td>{{data.path}}</td>
					<td>{{data.sourcesystemcreatedby}}</td>
					<td>{{data.sourcesystemcreatedtime}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_query' data.queryhashkey %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}